.h1tag {
  font-size: 1.2em;
  /* color: rgba(12, 5, 27, 0.699); */
  color: rgb(10, 0, 0);
  font-style: bold;
  text-shadow: 0 0 6px #b98080, 0 0 8px #f4f4fa;
  transition: color 1s;
}

@media (min-width: 544px) {
  .h1tag {
    font-size: 1.5em;
  } /*1rem = 16px*/
}
@media (min-width: 768px) {
  .h1tag {
    font-size: 2em;
  } /*1rem = 16px*/
}
@media (min-width: 992px) {
  .h1tag {
    font-size: 2.5em;
  } /*1rem = 16px*/
}
@media (min-width: 1200px) {
  .h1tag {
    font-size: 3em;
  } /*1rem = 16px*/
}

.columns {
  display: flex;
  justify-content: center;
}
img {
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 10px 13px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 13px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 13px 25px 0px rgba(0, 0, 0, 0.75);
}
